<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 mt-5">
           <mat-card >
                <div class="heading">
                    <h1 class=" heading text-center">Forgot Password</h1>
                 <mat-divider></mat-divider>
                </div>
                 <form class="row mt-2" [formGroup]="forgot" (ngSubmit)="forgotUser()">
                    <div class="col-12 mb-4 mt-2">
                        <label for="exampleInputEmail1" class="form-label">Email Id</label>
                        <input type="email" class="form-control" name="emailId" formControlName="emailId" id="emailId" aria-describedby="emailHelp">
                      </div>

            
                      <div class="justify-content-center mb-3">
                        <button type="submit" mat-raised-button class="col-12 btn btn-success">Submit</button>
                        
                      </div>


                 </form>
                </mat-card> 
        </div>
    </div>
</div>